/*** CONSTRUCTION ***/
.main-container {
  min-width: 650px;
  width: 650px;
}
.col-span-12,
.col-span-6,
.col-span-4,
.col-span-3 {
  width: 100%;
}
/*** HEADER ***/
nav#main-nav li {
  float: left;
}
/*** ABOUT ***/
#left-info-section,
#right-info-section {
  text-align: center;
}
.btn {
  margin: 30px 0;
}
/*** SERVICES ***/
#services .col-span-3 {
  margin-bottom: 30px;
}
#services h2 {
  margin: 4% 0 10% 0;
}
#services img {
  margin-right: 20px;
}
#services .desc {
  float: left;
  width: 80%;
}
/*** NEWS LETTER ***/
#submit-btn {
  filter: chroma(color=#000000);
  border: none;
  padding: 10px;
}
/*** PROJECTS ***/
#projects-nav {
  display: none;
}
#projects {
  margin: 0 auto;
}
#projects .project {
  width: 550px;
}
.projects-divider {
  border-right: none;
  border-bottom: 1px solid #eaeaea;
}
/*** CONTACT ***/
#contact-info h2 {
  padding: 30px 0;
}
#contact-info #map {
  display: none;
}
